header {
    height: 8vh;
    background: linear-gradient(90deg, #EDEDFF 0%, rgba(243, 232, 243, 0.634722) 36.53%, #FDDFDF 100%);
}

#logo-container {
    float: left;
    margin: 16px;
}

#logo-firstWord {
    letter-spacing: 2px;
    background-color: #FF6464;
    border: 1px solid #FF6464;
    border-radius: 4px;
    color: white;
    padding: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
}

#logo-secondWord {
    letter-spacing: 2px;
    background-color: #01024E;
    border: 1px solid #01024E;
    border-radius: 4px;
    color: white;
    padding: 4px;
    box-shadow: 0px 4px 4px 0px #00000026;
}

#nav-container {
    float: right;
    margin: 16px;
}

#nav-container a {
    text-decoration: none;
    margin: 16px;
    font-size: 17px;
    color: #555555;
}

#body {
    margin: 0;
}

#inner-body {
    height: 89vh;
    background-image: url('istockphoto-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #555555;
    padding: 22px 0 0 0;
}

#content-div {
    box-shadow: 0px 4px 4px 0px #00000040;
    background-color: #FFFFFF;
    padding: 16px;
    margin: 16px;
    border-radius: 6px;
    box-shadow: 0px 4px 4px 0px #00000040;
}

h2 {
    color: navy;
    font-family: Mukta;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
}

h2 a {
    width: 24px;
    height: 12px;
    text-decoration: none;
    color: #555555;
    font-weight: bold;
    border: 1px solid;
    border-radius: 4px;
    padding: 4px 6px;
    background-color: lightgray;
    font-size: 15px;
    margin: 0 10px 0 20px;
}

#orderTable {
    border: 2px solid gray;
    border-collapse: collapse;
    margin: 0 90px;
}

#orderTable tbody tr:nth-child(odd) {
    background-color: lavender;
}

thead {
    background-color: #FF6464;
    color: white;
    /* background-color: #FFE0E0; */
}

.orderTh {
    padding: 10px 35px;
}

.orderTd {
    padding: 10px 35px;
}

tr {
    border-bottom: 1px solid gray;
}