{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'items.css' %}" />
    <title>Add Item Page</title>
</head>

<body id="body">
    <header>
        <div id="logo-container">
            <i id="logo-firstWord">SOPEO</i>
            <i id="logo-secondWord">NOW</i>
        </div>
        <div id="nav-container">
            <a href="/">Home</a>
            <a href="/items">Items</a>
            <a href="/orders">Orders</a>
            <a href="/transactions">Transactions</a>
        </div>
    </header>
    <main id="inner-body">
        <div id="content-div">
            <h2>Add Existing Item Page :</h2>
            <form name="addItem" method="post" action="">
                {%csrf_token%}
                <div class="itemContainer">
                    <label>Person Name :</label>
                    <input type="text" value="" name="person_name" />
                </div>
                <br>
                <div class="itemContainer">
                    <label>Name :</label>
                    <input type="text" value="{{itemData.Name}}" disabled />
                </div>
                <br>
                <div class="itemContainer">
                    <label>Cost :</label>
                    <input type="text" value="{{itemData.Cost}}" disabled />
                </div>
                <br>
                <div class="itemContainer">
                    <label>Quantity :</label>
                    <input type="number" name="quantity" />
                </div>
                <br>
                <button class="submitButton" type="submit">Add</button>
                <button type="reset">Cancel</button>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %} style="color: red;">{{ message }}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            </form>
        </div>
    </main>
</body>

</html>